<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>largesize</key>
	<real>128</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>725398224.50709403</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>724936814.02052701</real>
	<key>launchanim</key>
	<false/>
	<key>loc</key>
	<string>en_GB:(null)</string>
	<key>mineffect</key>
	<string>scale</string>
	<key>mod-count</key>
	<integer>410</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>708819488</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zBwAAAAEBAABBcmMuYXBw
				AAgAAAABBgAAEAAAACQAAAAIAAAABAMAAF0hNgAAAAAA
				CAAAAAQDAABhakUCAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHFQhcugAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AFChG3MAAAAIAAAAAAQAAEHEf2qigAAAJAAAAAEBAABG
				ODQ4M0ZFQi1CRUU3LTRGRTItQkUwOC01ODQ2N0UxMUZE
				RjMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAALQAAAD+////AQAAAAAAAAAOAAAA
				BBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAA
				AAAAQBAAAHQAAAAAAAAAAiAAADwBAAAAAAAABSAAAKwA
				AAAAAAAAECAAALwAAAAAAAAAESAAAPAAAAAAAAAAEiAA
				ANAAAAAAAAAAEyAAAOAAAAAAAAAAICAAABwBAAAAAAAA
				MCAAAKQAAAAAAAAAAdAAAKQAAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>company.thebrowser.Browser</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Arc.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Arc</string>
				<key>file-mod-date</key>
				<integer>62461190729393</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>130935861506991</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2741308680</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABXYXJwLmFw
				cAgAAAABBgAAEAAAACQAAAAIAAAABAMAAF0hNgAAAAAA
				CAAAAAQDAABX1xEDAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHFmwOMSmx3GAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAA
				CAAAAAAEAABBxH9qooAAACQAAAABAQAARjg0ODNGRUIt
				QkVFNy00RkUyLUJFMDgtNTg0NjdFMTFGREYzGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAA
				AAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQA
				AAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>dev.warp.Warp-Stable</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Warp.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Warp</string>
				<key>file-mod-date</key>
				<integer>163753709240344</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>234972856942616</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>708819466</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAA7AoAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcR/aqKAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAFChG3MAAAAkAAAAAQEAAEY4NDgzRkVCLUJFRTct
				NEZFMi1CRTA4LTU4NDY3RTExRkRGMxgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3748941381</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3748941381</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2351209883</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwg
				U3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAABdITYAAAAAAAgAAAAEAwAATa0NAwAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxY0h6AAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcR/aqKAAAAk
				AAAAAQEAAEY4NDgzRkVCLUJFRTctNEZFMi1CRTA4LTU4
				NDY3RTExRkRGMxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>3784293584</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>7442669457165</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2741308681</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABdITYA
				AAAAAAgAAAAEAwAAhY8RAwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxZp+IgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
				cwAAAAgAAAAABAAAQcR/aqKAAAAkAAAAAQEAAEY4NDgz
				RkVCLUJFRTctNEZFMi1CRTA4LTU4NDY3RTExRkRGMxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3786044740</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>69685335863453</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2741308682</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAF0hNgAAAAAACAAAAAQDAACH7UkAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHEjQRdgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAABQoRtzAAAACAAAAAAEAABBxH9qooAAACQAAAAB
				AQAARjg0ODNGRUItQkVFNy00RkUyLUJFMDgtNTg0NjdF
				MTFGREYzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3785182468</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>234972856942616</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>708819485</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>1</integer>
				<key>book</key>
				<data>
				Ym9va5gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAiAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAEAAAAAQEAAGFsZXgLAAAAAQEA
				AHNjcmVlbnNob3RzAAwAAAABBgAAEAAAACAAAAAsAAAA
				CAAAAAQDAACEXAAAAAAAAAgAAAAEAwAAJsQDAAAAAAAI
				AAAABAMAAJATBgAAAAAADAAAAAEGAABUAAAAZAAAAHQA
				AAAIAAAAAAQAAEHEfXSQrvFqGAAAAAECAAACAAAAAAAA
				AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAA
				AQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
				Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQ
				oRtzAAAACAAAAAAEAABBxH9qooAAACQAAAABAQAARjg0
				ODNGRUItQkVFNy00RkUyLUJFMDgtNTg0NjdFMTFGREYz
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQ
				AABAAAAAAAAAAAUQAACEAAAAAAAAABAQAACoAAAAAAAA
				AEAQAACYAAAAAAAAAAIgAAB8AQAAAAAAAAUgAADsAAAA
				AAAAABAgAAD8AAAAAAAAABEgAAAwAQAAAAAAABIgAAAQ
				AQAAAAAAABMgAAAgAQAAAAAAACAgAABcAQAAAAAAADAg
				AADIAAAAAAAAAAHAAADQAAAAAAAAABHAAAAgAAAAAAAA
				ABLAAADgAAAAAAAAAAHQAADIAAAAAAAAABDQAAAEAAAA
				AAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/alex/screenshots/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>screenshots</string>
				<key>file-mod-date</key>
				<integer>234019338759201</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>138426251672726</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>708819479</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va4wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAiAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAEAAAAAQEAAGFsZXgJAAAAAQEA
				AERvd25sb2FkcwAAAAwAAAABBgAAEAAAACAAAAAsAAAA
				CAAAAAQDAACEXAAAAAAAAAgAAAAEAwAAJsQDAAAAAAAI
				AAAABAMAAFnEAwAAAAAADAAAAAEGAABUAAAAZAAAAHQA
				AAAIAAAAAAQAAEHDzf4IgAAAGAAAAAECAAACAAAAAAAA
				AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAEAAAAAAAAA
				BAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgA
				AAAABAAAQcR/aqKAAAAkAAAAAQEAAEY4NDgzRkVCLUJF
				RTctNEZFMi1CRTA4LTU4NDY3RTExRkRGMxgAAAABAgAA
				gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
				AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
				AABAAAAAAAAAAAUQAACEAAAAAAAAABAQAACoAAAAAAAA
				AEAQAACYAAAAAAAAAAIgAAB0AQAAAAAAAAUgAADkAAAA
				AAAAABAgAAD0AAAAAAAAABEgAAAoAQAAAAAAABIgAAAI
				AQAAAAAAABMgAAAYAQAAAAAAACAgAABUAQAAAAAAADAg
				AACAAQAAAAAAAAHAAADIAAAAAAAAABHAAAAgAAAAAAAA
				ABLAAADYAAAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/alex/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>75496390828186</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>138426251672726</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>GB</string>
	<key>show-recents</key>
	<false/>
	<key>tilesize</key>
	<real>53</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
</dict>
</plist>
